<!-- <section class="container" fxLayout="column"  fxLayoutAlign="space-around center"> -->
<section class="container">
  <header>
    <a href="admin/records">view data</a>
  </header>

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px grid" fxFlexFill>

  <div fxFlex="12" fxFlexAlign="center">
    <h1> Meet Jane</h1>
   </div>

   <section fxLayoutAlign="center"  fxFlex="30">
    <img src="assets/images/jane.png" />
   </section>


<div fxFlex="12" fxFlexAlign="center">
 <h3>Your health assistance</h3>
</div>
 <div fxLayoutAlign="center center">
   <button mat-raised-button color="primary" (click)="getStarted()">Get Started
    <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right_alt</mat-icon>
   </button>
 </div>
  </div>
  <footer>
    all right reserved
  </footer>
</section>

