
.container {
  height: 100vh;
  background-color: azure;
}
footer {
  background-color: blueviolet;
  color: azure;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}

