<p>Record details </p>

  <!-- <mat-spinner *ngIf="isLoadingResult"></mat-spinner> -->


<div fxLayout="column wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px grid" fxLayoutWrap
  fxLayoutAlign="space-between" class="mat-elevation-z8">

  <section fxLayout="row" fxLayoutGap="10px">
   <span> Gender: {{ gender }} </span>
   <span> DOB: {{ dob }} </span>
   </section>

   <section  fxLayout="row" fxLayoutGap="10px">
    <span> Tingling: {{ tingling }} </span>
    <span> Swelling: {{ swelling }} </span>
    <span> Redburning: {{ redburning }} </span>
    </section>

</div>
